---
- name: Rolling update Weather App
  hosts: localhost
  user: ubuntu
  become: no
  gather_facts: no

  vars:
    new_image: "{{ image }}"

  tasks:
    - name: Set new image on deployment
      ansible.builtin.command: >
        kubectl set image deployment/weather-app weather-ml-app={{ new_image }}
      
