---
- name: Deploy Weather App to Kubernetes
  hosts: localhost
  user: ubuntu
  become: no
  gather_facts: no

  vars:
    image: "{{ image }}"

  tasks:
    - name: Render Deployment manifest from template
      template:
        src: /home/ubuntu/weather-ml-app/k8s/deployment.yaml
        dest: /home/ubuntu/weather-ml-app/k8s/deployment.rendered.yaml

    - name: Apply Deployment manifest
      ansible.builtin.command: >
        kubectl apply -f /home/ubuntu/weather-ml-app/k8s/deployment.rendered.yaml

    - name: Apply Service manifest
      ansible.builtin.command: >
        kubectl apply -f /home/ubuntu/weather-ml-app/k8s/service.yaml

    - name: Scale Deployment to 3 replicas
      ansible.builtin.command: >
        kubectl scale deployment weather-app --replicas=3
