---
- name: Install kubectl and Minikube
  hosts: localhost
  user: ubuntu
  become: yes
  gather_facts: no

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install dependencies
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
        state: present

    - name: Install kubectl
      snap:
        name: kubectl
        classic: yes
        state: present

    - name: Download Minikube
      get_url:
        url: https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
        dest: /usr/local/bin/minikube
        mode: '0755'

