---
- name: Rolling update Weather App
  hosts: localhost
  user: ubuntu
  become: no
  gather_facts: no

  tasks:
    - name: Set new image on deployment
      ansible.builtin.command: >
        kubectl set image deployment/weather-app weather-app=adamstephen/weather-ml-app:2.0

    - name: Wait for rollout to complete
      ansible.builtin.command: >
        kubectl rollout status deployment/weather-app
